# target
CONFIG_IDF_TARGET_ESP32=y
CONFIG_IDF_TARGET="esp32"

# chip
CONFIG_ESP32_REV_MIN_3=y
CONFIG_ESP32_REV_MIN=3

# time
# Use internal 8M256 RTC oscillator, when EXT_CRYS is evaluated as good, switch to it.
# Evaluation and switching is done in `rtc_watchdog.c`.
# CONFIG_ESP32_TIME_SYSCALL_USE_RTC is not set
# CONFIG_ESP32_TIME_SYSCALL_USE_FRC1 is not set
# CONFIG_ESP32_TIME_SYSCALL_USE_NONE is not set
# CONFIG_ESP32_RTC_CLK_SRC_INT_RC is not set
# CONFIG_ESP32_RTC_CLK_SRC_EXT_CRYS is not set
# CONFIG_ESP32_RTC_CLK_SRC_EXT_OSC is not set
CONFIG_ESP32_RTC_CLK_SRC_INT_8MD256=y
CONFIG_ESP32_RTC_CLK_CAL_CYCLES=3000

CONFIG_BTDM_SCAN_DUPL_TYPE=0
CONFIG_BTDM_SCAN_DUPL_CACHE_SIZE=200
CONFIG_BTDM_SCAN_DUPL_CACHE_REFRESH_PERIOD=0
