# target
CONFIG_IDF_TARGET_ESP32c3=y
CONFIG_IDF_TARGET="esp32c3"

CONFIG_ESP32C3_DEBUG_OCDAWARE=n

# Bluetooth
CONFIG_BT_CTRL_BLE_MAX_ACT=5
CONFIG_BT_CTRL_SCAN_DUPL_TYPE=0
CONFIG_BT_CTRL_SCAN_DUPL_CACHE_SIZE=150
CONFIG_BT_CTRL_DUPL_SCAN_CACHE_REFRESH_PERIOD=0

#
# LWIP
#
CONFIG_LWIP_MAX_SOCKETS=6

# Nimble
CONFIG_BT_NIMBLE_ACL_BUF_COUNT=20
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=5
CONFIG_BT_NIMBLE_HOST_BASED_PRIVACY=y
CONFIG_BT_NIMBLE_USE_ESP_TIMER=y
CONFIG_BT_NIMBLE_ENABLE_CONN_REATTEMPT=n
CONFIG_BT_NIMBLE_MAX_CONN_REATTEMPT=3
CONFIG_BT_NIMBLE_HS_FLOW_CTRL=y

# Wifi
CONFIG_ESP32_WIFI_IRAM_OPT=y
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=4
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER=y
CONFIG_ESP32_WIFI_TX_BUFFER_TYPE=1
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=8
CONFIG_ESP32_WIFI_AMPDU_RX_ENABLED=n
CONFIG_ESP32_WIFI_AMPDU_TX_ENABLED=n

#
# Security features
#
CONFIG_SECURE_BOOT_SIGNING_KEY="DICMFramework/secure_boot_signing_key_rsa.pem"
# end of Security features


#system 
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4584

#
# Heap memory debugging
#
CONFIG_HEAP_ABORT_WHEN_ALLOCATION_FAILS=y

# time
# Use internal 8M256 RTC oscillator, when EXT_CRYS is evaluated as good, switch to it.
# Evaluation and switching is done in `rtc_watchdog.c`.
# CONFIG_ESP32C3_TIME_SYSCALL_USE_RTC is not set
# CONFIG_ESP32C3_TIME_SYSCALL_USE_FRC1 is not set
# CONFIG_ESP32C3_TIME_SYSCALL_USE_NONE is not set
# CONFIG_ESP32C3_RTC_CLK_SRC_INT_RC is not set
# CONFIG_ESP32C3_RTC_CLK_SRC_EXT_CRYS is not set
# CONFIG_ESP32C3_RTC_CLK_SRC_EXT_OSC is not set
CONFIG_ESP32C3_RTC_CLK_SRC_INT_8MD256=y
CONFIG_ESP32C3_RTC_CLK_CAL_CYCLES=3000