# target
CONFIG_IDF_TARGET_ESP32s3=y
CONFIG_IDF_TARGET="esp32s3"
CONFIG_BT_NIMBLE_HOST_BASED_PRIVACY=y

#
# Security features
#
CONFIG_SECURE_BOOT_SIGNING_KEY="DICMFramework/secure_boot_signing_key_rsa.pem"
# end of Security features

CONFIG_ESP32S3_RTC_CLK_SRC_INT_8MD256=y
CONFIG_ESP32S3_RTC_CLK_CAL_CYCLES=3000

# ESP32S3-Specific
CONFIG_ESP32S3_BROWNOUT_DET_LVL_SEL_7=y
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_QUAD=n
CONFIG_SPIRAM_MODE_OCT=y
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=65536
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=128
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y

# PHY
CONFIG_ESP_PHY_ENABLE_USB=n

# BLE
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=8
CONFIG_BT_NIMBLE_HS_FLOW_CTRL=y
# MODEM SLEEP Options
CONFIG_BT_CTRL_MODEM_SLEEP=y

# WiFi
CONFIG_ESP32_WIFI_IRAM_OPT=n