#
# Configuration settings with Platform Security for Development
# - Secure Boot V2 enabled
# - Flash Encryption (Development) enabled
# - Disabled PPP and mDNS network services
#
# Use `idf.py encrypted-flash` to update the firmware on the device.
#

CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="DICMFramework/partitions_8MB_secure.csv"

#
# Security features
#
CONFIG_SECURE_SIGNED_ON_BOOT=y
CONFIG_SECURE_SIGNED_ON_UPDATE=y
CONFIG_SECURE_SIGNED_APPS=y
CONFIG_SECURE_SIGNED_APPS_RSA_SCHEME=y
CONFIG_SECURE_BOOT=y
CONFIG_SECURE_BOOT_V2_ENABLED=y
CONFIG_SECURE_BOOT_BUILD_SIGNED_BINARIES=y
CONFIG_SECURE_BOOT_FLASH_BOOTLOADER_DEFAULT=y
CONFIG_SECURE_DISABLE_ROM_DL_MODE=n
CONFIG_SECURE_FLASH_ENC_ENABLED=y
CONFIG_SECURE_FLASH_ENCRYPTION_MODE_DEVELOPMENT=y
CONFIG_SECURE_FLASH_UART_BOOTLOADER_ALLOW_ENC=y
CONFIG_SECURE_FLASH_ENCRYPT_ONLY_IMAGE_LEN_IN_APP_PART=y
CONFIG_SECURE_FLASH_CHECK_ENC_EN_IN_APP=y
CONFIG_SECURE_INSECURE_ALLOW_DL_MODE=y

#
# Disabled Network Services
#

CONFIG_LWIP_DNS_SUPPORT_MDNS_QUERIES=n
CONFIG_LWIP_PPP_SUPPORT=n

CONFIG_MDNS_ENABLE_CONSOLE_CLI=n
CONFIG_MDNS_MULTIPLE_INSTANCE=n
CONFIG_MDNS_PREDEF_NETIF_STA=n
