# target
CONFIG_IDF_TARGET_ESP32=y
CONFIG_IDF_TARGET="esp32"

# chip
CONFIG_ESP32_REV_MIN_3=y
CONFIG_ESP32_REV_MIN=3

# External ram
CONFIG_SPIRAM=y
CONFIG_BT_ALLOCATION_FROM_SPIRAM_FIRST=y
CONFIG_SPIRAM_BOOT_INIT=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_TYPE_AUTO=y
CONFIG_SPIRAM_SPEED_40M=y
CONFIG_SPIRAM_MEMTEST=y
CONFIG_SPIRAM_MALLOC_ALWAYSINTERNAL=128
CONFIG_SPIRAM_TRY_ALLOCATE_WIFI_LWIP=y
CONFIG_SPIRAM_MALLOC_RESERVE_INTERNAL=65536
CONFIG_SPIRAM_ALLOW_BSS_SEG_EXTERNAL_MEMORY=y
CONFIG_D0WD_PSRAM_CLK_IO=17
CONFIG_D0WD_PSRAM_CS_IO=16
CONFIG_D2WD_PSRAM_CLK_IO=9
CONFIG_D2WD_PSRAM_CS_IO=10
CONFIG_PICO_PSRAM_CS_IO=10
CONFIG_SPIRAM_BANKSWITCH_ENABLE=n

CONFIG_SPIRAM_CACHE_WORKAROUND=n

# time
CONFIG_RTC_CLK_SRC_INT_8MD256=y
CONFIG_RTC_CLK_SRC_EXT_CRYS=n
# CONFIG_RTC_XTAL_CAL_RETRY=10
CONFIG_RTC_CLK_CAL_CYCLES=3000

# Bluetooth
CONFIG_BTDM_CTRL_PINNED_TO_CORE_1=y
CONFIG_BTDM_CTRL_PINNED_TO_CORE=1
CONFIG_BTDM_CTRL_BLE_MAX_CONN=9
CONFIG_BTDM_CTRL_BLE_MAX_CONN_EFF=9
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BTDM_SCAN_DUPL_TYPE=0
CONFIG_BTDM_SCAN_DUPL_CACHE_SIZE=200
CONFIG_BTDM_SCAN_DUPL_CACHE_REFRESH_PERIOD=0
CONFIG_BT_NIMBLE_HOST_BASED_PRIVACY=y